<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username, autocomplete: "new-username", placeholder: "Your username here"%>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "example@example.com" %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div>
        <%= form.button %>
    </div>
<% end %>