<!--
<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div>
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username" autocomplete="new-username" value=<%= @user.username %>>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" name="user[email]" id="email" value=<%= @user.email %>>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="user[password]" id="password" autocomplete="new-password" value=<%= @user.password %>>
    </div>

    <div>
        <button type=submit>Create User</button>
    </div>

    <% if flash[:error] %>
        <div class="alert alert-danger">
            <%= flash[:error] %>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
    <% end %>

</form>
-->
<!--
<%= form_with(url: "/users", method: "post") do %>
    <div>
        <%= label_tag(:username)%>
        <%= text_field_tag(:username, nil, autocomplete: "new-username", value: @user.username) %>
    </div>

    <div>
        <%= label_tag(:email) %>
        <%= email_field_tag(:email, nil, value: @user.email) %>
    </div>

    <div>
        <%= label_tag(:password) %>
        <%= password_field_tag(:password, nil, autocomplete: "new-password", value: @user.password) %>
    </div>

    <div>
        <%= button_tag("Create User") %>
    </div>

    <% if flash[:error] %>
        <div class="alert alert-danger">
            <%= flash[:error] %>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
    <% end %>
<% end %>
-->

<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username, autocomplete: "new-username", placeholder: "Your username here"%>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "example@example.com" %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div>
        <%= form.button %>
    </div>

    <% if flash[:error] %>
        <div class="alert alert-danger">
            <%= flash[:error] %>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
    <% end %>
<% end %>
